#logo{
  position: absolute; /*absoluteに設定*/
  width: 200px;
  height: 100px;
  z-index: 2;
}

#canvas-img{
  position: absolute; /*absoluteに設定*/
}

#canvas{
  position: absolute; /*absoluteに設定*/
}

.cog-menu{
  position: absolute; /*absoluteに設定*/
  z-index: 2;
}

.sample-box {
  position: relative;
}